*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background: linear-gradient(to left, #88959c,#2F4152); */
}
body{
    /* background-color: #0A1930; */
    background: linear-gradient(to left, #4c5458,#2F4152);

}
.container{
    scroll-snap-type: Y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section{
    height: 100vh;
    scroll-snap-align: start;
}
#res{
    border:1px solid #64FFDA;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:7px;
    color:#64FFDA;

}
.header{
    color: white;
    /* z-index: -1; */
    /* background-color: pink; */
    height : 13vh;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    /* background-color: rgb(235, 97, 120); */
    margin: 1rem;
    /* z-index: 400; */
    width: 3rem;
    aspect-ratio: 1;

}
.mobile-nav-toggle{
    display: none;
}
.primary-navigation{
    padding-right:3rem;
    text-decoration: none;
    margin:0;
    list-style: none;
    text-decoration: none;
    background:hsl(0 0 100% );
    backdrop-filter: blur(10rem);
}
a{
    text-decoration:none;
    color:white;
    font-weight: bold;
}
.intro-content{
      color:white
}
.Intro{
    /* background-color: rgb(231, 129, 129);  */
    /* display: flex; */
    
}
.About{
    /* background-color: rgb(129, 231, 217); */
}
.Skills{
    /* background-color: rgb(165, 129, 231); */
}
.Projects{
    /* background-color: rgb(221, 231, 129); */
}
.Work{
    /* background-color: rgb(194, 245, 184); */
}
.Contact{
    /* background-color: rgb(231, 129, 163); */
}
.flex{
    display: flex;
    gap:var(--gap,3rem);
}

@media(max-width:37em){
    .primary-navigation{
        --gap:3rem;
        inset: 0 0 0 30%;
        position:fixed;
        flex-direction: column;
        padding:min(30vh,10rem) 2rem;
        font-size:1em;
        font-weight:bold;
        color:white;
        background:linear-gradient(to left, #98a4aa,#2F4152);
        justify-content:center;
        justify-items: center;
        z-index: 1000;
        transform: translateX(100% );
        
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0% );
    }
    #res{
        border:none;
        padding-left: 0;
    }
    .mobile-nav-toggle{
        display:block;
        position:absolute;
        border:0;
        background-repeat: no-repeat;
        width: 1rem;
        /* aspect-ratio: 1; */
        background:url("res/burger-solid.svg");
        top:2rem;
        right:2rem;
        z-index:9999;
    }
}