*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    /* background: linear-gradient(to left, #88959c,#2F4152); */
}
body{
    /* background-color: #0A1930; */
    /* background: linear-gradient(to left, #2f3436,#1e2a35); */
    background: #0B192E;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif; 
}

.splash{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0B192E;
    z-index: 99999;
    color:white;
    text-align: center;
    line-height:80vh;
    font-family:  Fredoka;

}
.splash.display-none{
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0B192E;
    z-index: -10;
    color:white;
    text-align: center;
    line-height:80vh;
    font-family:  Fredoka;
    transition: all 1s;

}

.container{
    /* scroll-snap-type: Y proximity; */
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
}
.get-in-touch{
    cursor: pointer;
}
#res{
    border:1px solid #50c7ab;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:7px;
    color:#64FFDA;

}
.header{
    /* display:none; */
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px #0B192E;
    position:fixed;
    top:0;
    z-index: 10;
    height : 7vh;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(to left, #32373a,#1f2b36); */
    background:rgba(11, 27, 46 , -2);
    backdrop-filter: blur(0.5rem);
}

.logo{
    /* background-color: rgb(235, 97, 120); */
    margin: 1rem;
    /* z-index: 400; */
    width: 3rem;
    margin-top: 1.5rem;
    /* margin-left: 1.5rem;background-color:white; */
    border-radius: 1rem;
    /* aspect-ratio: 1; */
    height: 3rem;

}
.mobile-nav-toggle{
    display: none;
}
.primary-navigation{
    
    padding-right:3rem;
    text-decoration: none;
    margin:0;
    list-style: none;
    text-decoration: none;
    background:hsl(0 0 100% );
    backdrop-filter: blur(10rem);
}
 
a{
    text-decoration:none;
    color:white;
    font-weight: bold;
}
.intro-content{
    /* background-color:red; */
    /* width: 100vh; */
    color:white;
    align-items:center;
    justify-content: center;
    /* border:2px solid white; */
    margin-left: 15rem;
    margin-top: 10rem;
    width: 50%;
    /* border: 1px solid green; */
    padding: 10px;
}
h3{
    color: rgb(151, 223, 245);
    padding-bottom:2rem;
    font-style: normal;
}
h1{
    font-size: 450%;
}
h2{
    padding-top: 1rem;
    font-size:350%;
    color:rgb(184, 229, 243);
}
h5{
    color:rgb(151, 223, 245);
    padding-top: 3rem;
    /* padding:3px; */
    font-size:100%;
    letter-spacing:2px;
}
.btn{
    padding-top: 2rem;
}
.get-in-touch{
    background: #0B192E;
    color: #64FFDA;
    border-color: #64FFDA;
    padding: 10px;
    border-radius:5px
}
.Intro{
    /* background-color: rgb(231, 129, 129);  */
    /* display: flex; */
    /* display:none; */
    
}
.About{
    /* background-color: rgb(129, 231, 217); */
}
.Skills{
    /* background-color: rgb(165, 129, 231); */
}
.Projects{
    /* background-color: rgb(221, 231, 129); */
}
.Experience{
    /* background-color: rgb(194, 245, 184); */
}
.Contact{
/* background-color:pink; */
}
.contact-container{
    /* background-color:pink; */
    margin: auto;
    height: 70vh;
    width: 70%;
    /* border: 3px solid green; */
    padding: 10px;
    align-items: center;
    justify-content: center;
    display:flex;
    overflow:auto;
}
.c-links-icon li{
    color: white;
    display: inline-block;
    padding:1.3rem ;
    padding-left:0;
    padding-bottom:0.2rem;
    padding-top:2rem;
    padding-right: 30px;
}


.contact-icons-svg{
    /* background-color: #CCD6F6; */
    border-radius:5px;
    width: 30px;
    /* border-radius: 100px solid white; */
    cursor: pointer;
}
.contact-icons-svg:hover{
    width: 32px;
    
}

.c-links-icon li:hover{
    color: #64FFDA;
    display: inline-block;
    padding:1.3rem ;
    padding-left:0;
    padding-bottom:0.2rem;
    padding-top:2rem;
    padding-right: 30px;
    font-size: 16.5px;
}



.c-links-icon li a:hover{
    
    color: #64FFDA;
    display: inline-block;
    padding-left:0;
    font-size: 16.5px;
}
/* .c-links li{
    color: #64FFDA;
    display: inline-block;
    padding:0.6rem ;
    font-size:12px;
    padding-left:0px;
    padding-top:0px;
}
.c-links a{
    color: #64FFDA;
    display: inline-block;
    padding:0.6rem ;
    font-size:10px;
    padding-left:0px;
    padding-top:0px;
}

.c-links a:hover{
    color: #64FFDA;
    display: inline-block;
    padding:0.6rem ;
    font-size:8px;
    padding-left:0px;
    padding-top:0px;
} */
.c-info{
    /* background-color:red; */
    /* border: 1px solid yellow; */
    overflow:auto;
    height: auto;
    width:100%;
}
.c-info h2{
    color:rgb(151, 223, 245);
    padding: 1rem;
    padding-left: 0rem;
    letter-spacing:2px;
    padding-bottom: 1rem;
}
.c-info h4{
    color:#67728D;
    padding: 1rem;
    padding-left: 0rem;
    letter-spacing:1px;
}
.c-info h5{
    color:rgb(151, 223, 245);
    padding-top: 2px;
    padding-bottom: 1rem;
    /* padding:3px; */
    font-size:100%;
    letter-spacing:2px;
}
.footer{
    color:#CCD6F6;
    /* border: 1px solid yellow; */
    /* width: 50%; */
    line-height:20px;
    height: 5vh;
    overflow:hidden;
    /* width:70vw; */
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:1rem; */
    text-align: center;
    margin-bottom: 1rem;
    /* text-overflow: none; */
    /* display:flex; */
}
.footer:hover{
    /* height:7vh; */
    
}
.footer h6{
    letter-spacing:2px;
}
.footer a:hover{
    
    color:#64FFDA;
}
.footer img{
    background-color: #CCD6F6;
    border-radius:20px;
    width: 15px;
    border-radius: 100px solid white;
}
.footer img:hover{
    background-color: #64FFDA;
    border-radius:10px;
    width: 25px;
    border-radius: 100px solid #64FFDA;
}
.flex{
    display: flex;
    gap:var(--gap,3rem);
}

@media(max-width:37em){
    .primary-navigation{
        --gap:3rem;
        inset: 0 0 0 30%;
        position:fixed;
        flex-direction: column;
        padding:min(30vh,10rem) 2rem;
        font-size:1em;
        font-weight:bold;
        color:white;
        background:linear-gradient(to left, #98a4aa,#2F4152);
        justify-content:center;
        justify-items: center;
        z-index: 1000;
        transform: translateX(100% );
        
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0% );
    }
    #res{
        border:none;
        padding-left: 0;
    }
    .mobile-nav-toggle{
        display:block;
        position:absolute;
        border:0;
        background-repeat: no-repeat;
        width: 1rem;
        /* aspect-ratio: 1; */
        background:url("res/burger-solid.svg");
        top:2rem;
        right:2rem;
        z-index:9999;
    }
}


a:hover {
    box-shadow: 0 5px 3px 0px rgba(0,0,0,.1);
    text-transform: uppercase;
}
  
a:hover::before, a:hover::after {
    display: block;
    content: '';
    position: absolute;
    /* width: 250px; */
    width: 15px;
    /* height: 250px; */
    height: 10px;
    background: #FDA8CF;
    border-radius: 5px;
    z-index: -1;
    animation: 1s clockwise infinite;
}
  
a:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
}
  
@keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
}
  
@keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
}


div[class*=box] {
	height: 33.33%;
	width: 100%; 
    padding-top: 3rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.box-1 { background-color: #0B192E; }


.btnn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 200px;
	cursor: pointer;
    border: 1px solid #64FFDA;
    border-radius: 20px;

}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
	color: #64FFDA;
	transition: all 0.3s;
	position: relative;
    border-radius: 20px;
    background-color: #1f385c;;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	/* position: absolute; */
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	/* border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(78, 40, 40, 0.5); */
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	/* background-color: rgba(255,255,255,0.1); */
    border-radius: 20px;
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

@keyframes fadeIn {
    to{
        opacity:  1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

input[type=text], select, textarea {
    background-color:#0B192E;
    color: #fff;
    width: 85%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #64FFDA; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 1px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=email] {
    background-color:#0B192E;
    color: #fff;
    width: 85%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #64FFDA; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 1px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #0B192E;
    color: #64FFDA;
    padding: 12px 20px;
    border: 1px solid #64FFDA ;
    border-radius: 4px ;
    cursor: pointer;

  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    font-weight: bold;
    background: #1F375C;
  }